body{
	text-align:center;
}
.btn{
	height:200px;
	width:200px;
	border-radius: 20%;
	border: 10px solid black ;
	margin:2.5rem;
}
.btn-container{
	display:flex;
	justify-content:center;
}
.pink{
	background-color:pink;
}
.green{
	background-color:rgb(97, 196, 97);
}
.yellow{
	background-color:rgb(224, 224, 129);
}
.purple{
	background-color:rgb(136, 80, 156);
}
.flash{
	background-color:white;
}
.userFlash{
	background-color:skyblue;
}